# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

https://github-readme-stats.vercel.app/api?username=OnlyProbie&bg_color=60,000000,696969,A9A9A9,FFF8E7,87CEEB,1E90FF&show_icons=true